[*.cs]

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none
# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = error